<h1>プライバシーポリシー</h1>
<section>
<h2>LINEログインについて</h2>
<p>LINEログインでは、この掲示板において以下の情報を保存しています。</p>
<ul>
<li>LINEのアカウントを一意に特定するID(ログインIDではありません)</li>
<li>プロフィールにアクセスするためのアクセストークン</li>
<li>LINEでの表示名</li>
</ul>
<p>これ以外の情報は取得していません。これらの目的は以下の通りです。</p>
<dl>
<dt>LINEのアカウントを一意に特定するID</dt>
<dd>ログインしたアカウントを特定するため</dd>
<dt>プロフィールにアクセスするためのアクセストークン</dt>
<dd>要請があったときにLINEでログインした権限を取り消すため(再びログイン操作を行い再びLINEプラットフォーム側で許可をすることで利用再開可能です)</dd>
<dt>LINEでの表示名</dt>
<dd>アカウントの名前を表示するため</dd>
</dl>
</section>
<section>
<h2>Facebookについて</h2>
<p>Facebookについてですが、OGPのためにアプリは登録しています。FacebookのSDKは用いていないため、追跡をする手段はありません。</p>
</section>
<section>
<h2>Googleについて</h2>
<p>Google Analyticsを用いるため、このサイトではトラッキングをしています。また、Google AdSenseを用いるためにも、必要な情報を取得しています。なお、この掲示板ではGoogle経由での個人情報へのアクセスは行いません。</p>
</section>