<h1>利用規約</h1>
<p>このサイトの利用規約は、以下の通りです。</p>
<ol>
    <li>自己責任で管理をしてください</li>
    <li>個人情報を書かないでください</li>
    <li>営利目的の宣伝をしないでください</li>
    <li>各種法益の侵害をしないでください</li>
    <li>サーバの妨害をしないでください</li>
    <li>問題があった場合、書き込みの削除や書き込み制限、アクセス制限などの対応をする場合があります</li>
</ol>